@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background:#53bff0;
}
body{
  padding: 10px;
}
.wrapper{
  margin: 30px auto;
  max-width: 1100px;
}

h2{
  font-weight:500;
  font-size:30px;
  margin: 0 0 20px;
  text-align: center;
}
.wrapper nav{
  display: flex;
  justify-content: center;
}

.wrapper .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px 27px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  color: #53bff0;
  border-radius: 50px;
  border: 1px solid #53bff0;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: #fff;
  background: #53bff0;
}

.download{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.download .device{
  width: calc(100% / 3);
}
.download .device span{
  width: 100%;
  overflow: hidden;
}
.download .device img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.download .device:hover img{
  transform: scale(1.1);
}
.download .device.hide{
  display: none;
}
.download .device.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
@media (max-width: 1000px) {
  .download .device{
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .download .device{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .download .device{
    width: 100%;
  }
}

.box{
  position: relative;
  width: 310px;
  height: 180px;
  color:white;
  display: flex;
  justify-content: center;
  margin: 20px 30px;
  align-items: center;
  transition: 0.5s;
}

.box::before{
  content: " ";
  position: absolute;
  width: 100%;
  border-radius: 10px;
  height: 85%;
  text-decoration: none;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

}

.device-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box:hover{
  transform: translateY(-10px);
}

.box .device-item img{
  object-fit: contain;
  flex-basis: 35%;
  height: 6rem;
  /* margin: 0 auto .75rem;  */
  margin-left: -2px;
}

.box .device-data{
  flex-basis: 121%;
}

.box .device-data h3{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  margin-left: 5px;
  color: black;
}

.box .device-data h4{
  color:black;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  margin-left: 5px;
}

