*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* New navbar*/

.head{
    background: linear-gradient(#5B74DC,#f57d89);
}
#nav-bar {
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    padding: 0;
}

.navbar-brand img {
    height: 38px;
    padding-bottom: 4px;
    margin-right: 10px;
}

.navbar-nav .active:hover {
    color: #FF7B89!important;
}

@media only screen and (max-width: 991px) {
    .navbar-nav .active:hover {
        background: white;
        padding: 9px 15px;
        border-radius: 28px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
}

#nav-bar i {
    color: #5B74DC;
    font-size: 25px;
}

.fa-bars:before {
    color: white;
}

.top-section .navbar-brand {
    font-weight: 700;
    font-size: 30px;
    color: white;
    padding-left: 0px;
}

.navbar-nav li {
    padding: 0 20px;
}

.navbar-nav li a {
    color: white !important;
    font-weight: 600;
}

.dropdown-item:hover {
    background: white;
    color:#FF7B89 !important;
}

.top-section button {
    font-size: 25px;
}

.main-title {
    font-size: 60px;
    margin-top: 160px;
    font-weight: 700;
    color: white;
}

.legal-title {
    font-size: 50px;
    margin-top: 100px;
    font-weight: 700;
    color: white;
}

.text-center {
    text-align: center!important;
}

#legal {
    padding: 50px 10px;
}

section p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    color: white;
    font-size: 1.125rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#legal h2 {
    font-size: 30px;
    color: white;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
}

section a {
    color: #f57d89;
    text-decoration: none;
    background-color: transparent;
}

section ul {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

section li {
    display: list-item;
    color:white;
}