@import url("https://fonts.googleapis.com/css?family=Nunito:300, 400, 600, 700, 800, 900|Poppins:300, 400, 500, 600, 700, 800, 900&display=swap");

*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.head{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8f99e6, #8399eb, #7399f0, #698df6, #657ffa, #6670fb, #6d5ffb);
}

.team .row{
    padding-bottom: 30px;
}

.team h2{
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#features .heading{
    padding-top: 20px;
    width: 100%;
    height:30px;
}

#features .heading p {
    text-align: center;
    color:white;
    font-family: 'Open Sans',sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#features .container{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 90px 0;
    flex-wrap: wrap;
}

#features .container .box{
    position: relative;
    width: 297px;
    height: 210px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}


#features .container .box:hover{
    transform: translateY(-20px);
}

#features .container .box::before{
    content: " ";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

}

#features .container .box .content{
    position: relative;
    z-index:10;
    font-family: 'Open Sans',sans-serif;
    padding:20px 40px;
}

#features .container .box .content img {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#features .container .box .content h2{
    font-size:1.1em;
    text-align: center;
    color:#fff;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 10px;
}

#features .container .box .content p{
    text-align: center;
}
/*News */
.news #nav-bar {
    background:linear-gradient(#5B74DC,#FF7B89);
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    padding: 0;
}

.news .navbar-brand img {
    height: 38px;
    padding-bottom: 4px;
    margin-right: 10px;
}

.news .navbar-nav .active:hover {
    color: #FF7B89!important;
}

@media only screen and (max-width: 991px) {
    .news .navbar-nav .active:hover {
        background: white;
        padding: 9px 15px;
        border-radius: 28px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
}

.news #nav-bar i {
    color: #5B74DC;
    font-size: 25px;
}

.news .fa-bars:before {
    color: white;
}

.news .top-section .navbar-brand {
    font-weight: 700;
    font-size: 30px;
    color: white;
    padding-left: 0px;
}

.news .navbar-nav li {
    padding: 0 20px;
}

.news .navbar-nav li a {
    color: white !important;
    font-weight: 600;
}

.news .dropdown-item:hover {
    background: white;
    color:#FF7B89 !important;
}

.news .top-section button {
    font-size: 25px;
}

.news .main-title {
    font-size: 60px;
    margin-top: 160px;
    font-weight: 700;
    color: white;
}

.content-vlog .content-x .card-heading{
    width: 100%;
    height:100px;
    padding: 2.125rem 0 !important;
    margin-bottom: 5rem;
}

.content-vlog .content-x .card-heading .container{
    padding-right: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #FF7B89;
    left:30px;
}
.content-vlog .content-x .card-heading .container h2{
    color: #3C4858;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
}

.content-vlog .content-x .card-heading .container h2:hover,
.content-vlog .content-x .card-heading .container p:hover
{
    color: #c0a2a2;
	padding-left: 5px;
}

.content-vlog .content-x .card-heading .container p{
    color: #3C4858;
    font-family: 'Open Sans',sans-serif;
}

.content-vlog .content-x .card h2{
    color: black;
    font-family: 'Open Sans',sans-serif;
}


.content-vlog .content-x .content .card {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    margin-bottom: 24px;
    margin-left: 15px;
    background-color: white;
    line-height: 1.5em;
    border: 0;
    border-radius: 6px;
}

.content-vlog .content-x .content {
    width: 60%;
    padding-left: 10px;
}
.content-vlog .content-x .content .card .card-body{
    padding: 16px 24px 0;
}


.content-vlog .content-x .content .card-right {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    margin-bottom: 24px;
    background-color: white;
    line-height: 1.5em;
    border: 0;
    border-radius: 6px;
}


.content-vlog .content-x .content .card .card-body .card-title{
    margin-bottom: 30px;
    font-size: 32px;
}

.content-vlog .content-x .content .card .card-body .card-description{
    margin-top:20px;
    color:#3C4858;
    font-family: 'Open Sans',sans-serif;
}

.card .card-title a{
    transition: all 0.3s ease-out;
    color: #3C4858;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
}

.content-vlog .content-x .content .card .card-text{
    margin: 0;
    min-height:24px;
    font-family: 'Open Sans',sans-serif;
    color:#3C4858;
}

.btn1{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.42857;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 45px;
    color:#FF7B89;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow, transform;
}

svg:not(:root) {
    overflow: hidden;
}

.content-right{
    float:right;
    width: 35%;
    padding-right: 30px;
}

.content-right .card-body{
        border: 0;
        border-radius: 6px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
        margin-bottom: 24px;
        background-color: white;
        line-height: 1.5em;
        border: 0;
        border-radius: 6px;
}

.content-right .card1 .card-body p{
    color: #3C4858;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin: 10px;
    padding-top:10px;
}

.content-right .card1 .card-body .card-title{
    color: #3C4858;
    margin: 8px;
}

.content-right .card1 .card-body .card-title a {
    color:#FF7B89;
    margin: 8px;
}

.content-changelog .content-x .card-heading{
    width: 100%;
    height:100px;
    padding: 2.125rem 0 !important;
    margin-bottom: 2rem;
}

.content-changelog .content-x .card-heading .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content-changelog .content-x .card-heading .container h2{
    color: #3C4858;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
}

.content-changelog .content-x .card-heading .container p{
    color: #3C4858;
    font-family: 'Open Sans',sans-serif;
}

.content-changelog .content-x .card h2{
    color: black;
    font-family: 'Open Sans',sans-serif;
}


.content-changelog .content-x .content.card {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    margin-bottom: 24px;
    background-color: white;
    line-height: 1.5em;
    border: 0;
    border-radius: 6px;
}

.content-changelog .content-x .content {
    width: 75%;
    padding-left: 10px;
}

.content-changelog .content-x .content .card {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    margin-bottom: 24px;
    background-color: white;
    line-height: 1.5em;
    border: 0;
    border-radius: 6px;
}
.content-changelog .content-x .content .card .card-body{
    padding: 16px 24px 0;
}


.content-changelog .content-x .content .card-right {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    margin-bottom: 24px;
    background-color: white;
    line-height: 1.5em;
    border: 0;
    border-radius: 6px;
}


.content-changelog .content-x .content .card .card-body .card-title{
    margin-bottom: 30px;
    font-size: 32px;
}

.content-changelog .content-x .content .card .card-body .card-description{
    margin-top:20px;
    color:#3C4858;
    font-family: 'Open Sans',sans-serif;
}

.card .card-title a{
    transition: all 0.3s ease-out;
    color: #3C4858;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
}

.content-changelog .content-x .content .card .card-text{
    margin: 0;
    height:24px;
    width: 624px;
    font-family: 'Open Sans',sans-serif;
    color:#3C4858;
}

.content-changelog .content .card-description{
    margin-top:20px;
    color:#3C4858;
    margin-bottom: 10px;
    font-family: 'Open Sans',sans-serif;
}

.content-changelog .content .card-description p{
    margin-bottom: 10px;
}

.content-right1{
    float:right;
    width: 23%;
    padding-right: 20px;
}

.content-right1 .card .card-body{
        border: 0;
        border-radius: 6px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
        margin-bottom: 24px;
        background-color: white;
        line-height: 1.5em;
        border: 0;
        border-radius: 6px;
}

.content-right1 .card .card-body p{
    color: #3C4858;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin: 10px;
    padding-top:10px;
}

.content-right1 .card .card-body .card-title{
    color: #3C4858;
    margin: 8px;
}

.content-right1 .card .card-body .card-title a {
    color:#FF7B89;
    margin: 8px;
}

.content-right1 .card1 {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    margin-bottom: 24px;
    background-color: white;
    line-height: 1.5em;
    border: 0;
    border-radius: 6px;
    margin-right: 15px;
}

.scroll-margin {
    scroll-margin-top: 4rem;
}

#screenshots {
    padding: 30px 0;
}

#screenshots .section-title p {
    text-align: center;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 40px;
    font-weight: bold;
}

section .swiper-container {
    width: 84%;
    padding-bottom: 50px;
}

@media only screen and (max-width: 991px) {
    section .swiper-container {
        width: 100%;
        padding-bottom: 50px;
    }
}

section .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 210px;
    height: 455px;
}

section .swiper-slide .img-box {
    height: 520px;
    overflow: hidden;
}

section .swiper-slide .img-box img {
    width: 100%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* New navbar*/
#nav-bar {
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    padding: 0;
}

.navbar-brand img {
    height: 38px;
    padding-bottom: 4px;
    margin-right: 10px;
}

.navbar-nav .active:hover {
    color: #FF7B89!important;
}

@media only screen and (max-width: 991px) {
    .navbar-nav .active:hover {
        background: white;
        padding: 9px 15px;
        border-radius: 28px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
}

#nav-bar i {
    color: #5B74DC;
    font-size: 25px;
}

.fa-bars:before {
    color: white;
}

.top-section .navbar-brand {
    font-weight: 700;
    font-size: 30px;
    color: white;
    padding-left: 0px;
}

.navbar-nav li {
    padding: 0 20px;
}

.navbar-nav li a {
    color: white !important;
    font-weight: 600;
}

.dropdown-item:hover {
    background: white;
    color:#FF7B89 !important;
}

.top-section button {
    font-size: 25px;
}

.main-title {
    font-size: 60px;
    margin-top: 160px;
    font-weight: 700;
    color: white;
}

.legal-title {
    font-size: 50px;
    margin-top: 100px;
    font-weight: 700;
    color: white;
}
/*Button */

.row .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.row .btn-primary {
    background-color: #f05f40;
    border-color: #f05f40;
}
.row .btn-xl {
    padding: 1rem 2rem;
}
.row .btn {
    font-weight: 700;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans';
}


.row .btn-primary:hover {
    color: #fff;
    background-color: tomato;
}

.row .btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.text-center{
    animation-delay: 0.2s;
    opacity: 0;
    animation: slider_left 1s linear forwards;
}

.btn-xl{
    animation-delay: 0.2s;
    opacity: 0;
    animation: silder_bottom 1.5s linear forwards;
}
/*Animation*/
@keyframes slider_left{

    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slider_right{

    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.main-title{
    animation-delay: 0.2s;
    opacity: 0;
    animation: silder_top 1s linear forwards;
}

.nav-item,.navbar-brand{
    animation-delay: 0.2s;
    opacity: 0;
    animation: silder_top 0.5s linear forwards;
}
@keyframes silder_top{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.banner-para-1,.banner-para-2{
    animation-delay: 0.2s;
    opacity: 0;
    animation: silder_bottom 1s linear forwards;
}


@keyframes silder_bottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}